[submodule "src/csv-parser"]
	path = src/csv-parser
	url = https://github.com/kirin123kirin/csv-parser.git
[submodule "src/cxxopts"]
	path = src/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
